/11Ventanita/nbproject/private/
/11Ventanita/build/
/12Calculadora/nbproject/private/
/12Calculadora/build/
/12Calculadora/dist/
/13Componente/nbproject/private/
/13Componente/build/
/14File/nbproject/private/
/14File/build/
/ExamenSegundoParcial/nbproject/private/
/ExamenSegundoParcial/build/
/examen2doParcial/nbproject/private/
/ExamenSegundoParcial/dist/
/SimpleContactApp/nbproject/private/
/SimpleContactApp/build/
